fieldset {
    background: #ffffff;
    border: 1px solid #e6e8e8;
    border-radius: 5px;
    margin: 20px 0 20px 0;
    padding: 20px 15px 7px 15px;
    position: relative;
}

fieldset legend {
    background: inherit;
    font-family: "Lato", sans-serif;
    color: #007AFF;
    font-size: 15px;
    left: 10px;
    padding: 0 10px;
    position: absolute;
    top: -12px;
    font-weight: 400;
    width: auto !important;
    border: none !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
}


/*panel css*/
#interfaz-panel {
    background-color: #fff;
    height: 100%;
    position: relative;
    top: 0;
}

#interfaz-panel.movements {
    top: -42px;
    padding-top: 42px;
}

#interfaz-panel .barra-plano{
   position: relative;
   width: 100%;
   height: 100%;
   padding-right: 190px; 
   padding-bottom: 42px; 
}
#interfaz-panel.full .barra-plano{
   padding: 5px;
}

#switcher-floor{
   background-color: #000;
   padding: 3px 2px;
   /*
   height: 42px;
   position: relative;
   z-index: 2;
   border-bottom: 1px solid #555; 
   */
}
#shower-plan{
   height: 100%;
}

.panel-planta{
   width: 100%;
   height: 100%;
   margin-top: -42px;
   padding-top: 42px;
   z-index: 1;
}

#interfaz-panel.full .panel-planta{
   margin-top: 0px;
   padding-top: 0px;
}

#plano-mesa{
   position: relative;
   width: 100%;
   height: 100%;	
}

div#plano-mesa .mesa{
   white-space: normal;
   width: 60px;
   height: 50px;
   position: absolute;

   z-index: 1;
   border: 0.5px solid #000;
   box-shadow: 2px 3px 7px 3px #333;
   padding: 0px;

}
div#plano-mesa .mesa .code{
   width: 100%;
   height: 100%;
   font-weight: bold;
   font-size: 24px;
   text-align: center;
   color :#fff;
}
div#plano-mesa .mesa .time-state{
   font-size: 11px;
   position: absolute;
   left: 0px;
   top: -24px;
   /*
   width: 60px;
   */
   display: none;
   height: 18px;
   padding: 1px;
   text-align: center;
   border: 0.3px solid #000;
}

/*colores de mesas*/
   div#plano-mesa .mesa[estado=disponible]{
       background-color: #2fa62f;
   }
   div#plano-mesa .mesa[estado=disponible] > .time-state{
       color: #fff;
       background: #2fa62f;

   }

   div#plano-mesa .mesa[estado=ocupado]{
       background-color: #d9534f;
   }
   div#plano-mesa .mesa[estado=ocupado] > .time-state{
       color: #fff;
       background: #d9534f;
   }

   div#plano-mesa .mesa[estado=reservado]{
       background-color: #ec971f;
   }
   div#plano-mesa .seleccionado{
       background-color: #31b0d5 !important;
   }


.foco-amarillo:focus{
   color: #fff;
   background-color: #ec971f;
}

/* start: BARRA LATERAL */
.barra-lateral{
   padding: 4px;
   position: absolute;
   top: 0;
   right: 0;
   width: 190px;
   height: 100%;
   background-image: url(img/login-bg.png);
}

.barra-lateral .abajo{
   position: absolute;
   bottom: 0px;
   width: 100%;
}

.barra-lateral #btnGastos{
   background-color: rgb(142, 103, 142);
}
.barra-lateral #btnGastos:hover{
   background-color: rgb(165, 125, 150) !important;
}

.barra-lateral #btnCajaReporte{
   background-color: rgb(204, 68, 36);
}
.barra-lateral #btnCajaReporte:hover{
   background-color: rgb(235, 85, 50) !important;
}


.barra-lateral #btnBusquedaVenta{
   background-color: rgb(40, 198, 140);
}
.barra-lateral #btnBusquedaVenta:hover{
   background-color: rgb(57, 231, 171) !important;
}

.barra-lateral .btn{
   /*
   box-shadow: inset -1px -2px 5px 1px #000;
   */
}
/* end: BARRA LATERAL */

/* end: BARRA INFERIOR */
.barra-inferior{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 42px;
   padding: 2px 198px 2px 2px;
   background-image: url(img/login-bg.png);
}
/* end: BARRA INFERIOR */


/* start : dialog LIQUIDAR*/
/*formularios inline con 100 w*/
#dialog_liquidar .panel .panel-footer button{
   opacity: 0.75;
}

/*.tipo-documento button{
   font-size: 16px;
   background-color: #5cb85c;
}
.tipo-documento button.active{
   background-color: #c3e43c;
}
*/
.form-liquidar label{
   width: 45%;
   height: 20px;
   text-align: right;
}
.form-liquidar .form-control{
   display: inline-block;
   width: 50%;
   text-align: right;
   height: 24px;
   font-size: 14px;
}

.row.billetes button{
   font-size: 14px;
}

#dialog_liquidar #tarjeta[tipo-pago=TARJETA]{
   background-color: #08796f;
}

#dialog_liquidar .form-liquidar{
   border-left: 2px dashed #ccc;
}

.ticket-content .tab-content{
   background-color: rgb(62,62,62);
   overflow-y: scroll;
   height: 370px;
}
#ticket{
   margin: 10px auto;
   background-color: #FFF;
   height: auto;
   width: 290px;
   padding: 10px;
   box-shadow: 2px 1px 5px 1px #000;
   font-size: 11px;
   font-family: 'OpenSans-Light';
   line-height: 13px;	 
}
#ticket .empresa{
   text-align: center;
   margin-bottom: 10px; 
}
#ticket .cliente-datos{
   margin-bottom: 10px; 
}
#ticket table.detalle-pedido{
   margin-bottom: 10px; 
}
#ticket table.detalle-pedido thead{
   border-bottom: 1px dashed #000;
   font-weight: lighter;
}
#ticket table.detalle-pedido thead th{
   font-weight: lighter;
}
#ticket table.detalle-pedido tfoot {
   border-top: 1px dashed #000;
   padding-top: 3px;
}
#ticket table.detalle-pedido tbody {
   margin-top: 3px;
}

#ticket .detalle-pedido .quanty{
   width: 30px;
   padding-right: 10px; 
}
#ticket .detalle-pedido .item{
   width: 200px;
}
#ticket .detalle-pedido .subtotal{
   width: 30px;
}
/*funciona para #ticket y #pagado*/
td.quanty, td.subtotal{
   text-align: right;
}

/*funciona para #ticket y #pagado*/
.detalle-pedido tfoot, .coin {
   text-align: right;
}
#ticket .mensaje-final{
   margin-top: 10px;
   text-align: center;
}

#pagado table{
   font-size: 12px;
}
#pagado table{
   font-size: 12px;
}
/* tab pagado llamativo*/
.ticket-content ul.nav li a.tab-pagado {
   background-color: #e39f9d !important;
   color: #fff;
}
/* end : dialog LIQUIDAR*/

/* start : dialog GASTOS*/


.dialog_reporte ul.nav{
   width: 500px;
   margin: auto;
}
.dialog_reporte .content-hoja{
   padding: 20px;
   height: 450px;
   overflow-y: scroll;
   border: 1px solid #ccc;
   background-color: rgb(62,62,62);
}

.hoja_report{
   font-size: 14px;
   padding: 15px;
   background-color: #fff;
   display: block;
   height: auto;
   margin: auto;
   width: 100%;
}

.hoja_report.preview{
   font-size: 11px;
   padding: 15px;
   box-shadow: 2px 1px 5px 1px #000;
   min-height: 1100px;
}
.hoja_report.horizontal{
   width: 90%;
}
.hoja_report.vertical{
   width: 1150px;
}

.hoja_report .row{
   display: block;
   position: static;
}

.hoja_report .col-sm-6{
   float: left;
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   width: 49.5%;
   display: inline-block;
   box-sizing: border-box;
   line-height: 1.42857143;
}
.hoja_report .cuadros .col-sm-6{
   min-height: 900px;
}


.hoja_report .firma{
   border-top: 1px dashed #000;
   display: block;
   margin: 50px auto 10px auto;
   width: 60%;
   text-align: center;
}

.hoja_report .bg-vgray{
   background-color: #ccc !important;
}
.hoja_report .bg-gray{
   background-color: #cecece !important;
}
.hoja_report .bg-lgray{
   background-color: #e3e3e3 !important;
}

.hoja_report table{
   width: 100%;
   border-spacing: 0;
}
.hoja_report table,
.hoja_report th,
.hoja_report td {
   border: 1px solid black;
   border-collapse: collapse;
}
.hoja_report th,
.hoja_report td {
   padding: 2px 10px;
}

.hoja_report .sm-descrip{
   width: 200px;
}
.hoja_report .lg-descrip{
   width: 240px;
}

/* end : dialog CAJA REPORTE*/

/* start : dialog BUSCAR DOCUMENTO*/



/* end : dialog BUSCAR DOCUMENTO*/

/*fin panel css*/